pandas==1.0.5
pyyaml
pytest
requests
urllib3==1.26.5
timeloop
scipy
joblib
loguru
notifiers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-Levenshtein
psutil
python-dotenv
fuzzyset
datawrapper
plotly
bs4
numpy
selenium
cufflinks
lxml
html5lib
# rpy2==3.2.2
